.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
}

.label {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 20px;
  color: #171718;
  cursor: pointer;
}

.input {
  margin-top: 10px;
  border-radius: 2px;
  border: 1px solid grey;
}

.button {
  border-radius: 5px;
  padding: 3px 4px 3px 4px;
  border: none;
  cursor: pointer;
  border: 1px solid grey;
}

.button:hover,
.button:focus {
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
}
